<h2 class="mb-4">出席情報の更新</h2>
<form method="post" class="p-4 border rounded bg-light">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_check_in" class="form-label">Check in:</label>
        {{ form.check_in }}
    </div>

    <div class="mb-3">
        <label for="id_check_out" class="form-label">Check out:</label>
        {{ form.check_out }}
    </div>

    <button type="submit" class="btn btn-primary">保存</button>
    <div class="text-center mt-4">
        <a href="{% url 'attendance' %}" class="btn btn-primary">戻る</a>
    </div>

</form>


<!-- Flatpickr の JavaScriptとCSSを読み込む -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Flatpickr を id_check_in と id_check_out に適用 -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("#id_check_in", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });
        flatpickr("#id_check_out", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });
    });
</script>
