{% if user.is_authenticated %}
    <h2>出退勤リスト</h2>
    {% for attendance in attendances %}
        <p>{{ attendance.date }} - {{ attendance.user.username }} - {{ attendance.status }}</p>
        {% if user.is_admin %}
            <a href="{% url 'approve_attendance' attendance.id %}">承認</a>
            <a href="{% url 'resubmit_attendance' attendance.id %}">再提出</a>
        {% elif user.is_manager and attendance.user != user %}
            <a href="{% url 'edit_attendance' attendance.id %}">編集</a>
        {% endif %}
    {% endfor %}
{% endif %}
