<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }} の権限変更</title>
</head>
<body>
    <h1>{{ user.username }} の権限変更</h1>
    <form method="post">
        {% csrf_token %}
        <label>グループを選択:</label><br>
        {% for group in groups %}
            <input type="checkbox" name="groups" value="{{ group.id }}"
            {% if group in user.groups.all %}checked{% endif %}>
            {{ group.name }}<br>
        {% endfor %}
        <button type="submit">更新</button>
    </form>
    <a href="{% url 'attendance' %}">戻る</a>
</body>
</html>
