{% load custom_filters %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    html, body {
        height: 100% !important;
        margin: 0 !important;
    }
    body {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        min-height: 100vh !important;
        margin: 0 !important;
        background-image: url("{% static 'images/AAF728A9-0ADB-4433-B320-347DB491300Fbackground.jpg' %}"); /* 背景画像を指定 */
        background-size: cover; /* 背景画像を画面全体に拡大 */
        background-position: center; /* 中央揃え */
        background-repeat: no-repeat; /* 繰り返さない */
    }
    .card {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.9); /* 半透明の白背景 */
    }
</style>
{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block nav_sidebar %}{% endblock %}

{% block content %}
<div class="card p-4 bg-white shadow-sm">
    <h2 class="mb-4 text-center">ログイン</h2>
    
    {% if form.errors %}
        <div class="alert alert-danger">ユーザー名とパスワードが一致しません。</div>
    {% endif %}
    
    {% if next %}
        {% if user.is_authenticated %}
            <p>アクセス権のあるアカウントでログインしてください。</p>
        {% else %}
            <p>ログインしてください。</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="username" class="form-label">社員名</label>
            {{ form.username|add_class:"form-control" }}
            {% if form.username.errors %}
                <div class="text-danger small">{{ form.username.errors|join:"<br>" }}</div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">パスワード</label>
            {{ form.password|add_class:"form-control" }}
            {% if form.password.errors %}
                <div class="text-danger small">{{ form.password.errors|join:"<br>" }}</div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary w-100">ログイン</button>
        <input type="hidden" name="next" value="{{ next }}" />
        <a href="{% url 'welcome' %}" class="btn btn-primary w-100 mt-3 text-center" role="button">戻る</a>
    </form>
</div>
{% endblock %}
